<!--start 03ubertext_links_left_drupal-->
<div class="region-sidebar-first region-sidebar">
    <div id="block-og-menu-og-single-menu-block" class="block block-og-menu">
        {#  <div id="block-og-menu-og-single-menu-block" class="block block-og-menu  block-og-menu-og-single-menu-block">#}
        <h2 class="element-invisible">HMS {{ MODEL }}</h2>
        <ul class="menu">
            {% for key, value in LINK_DICT.items %}
                <h3 class="headerbar">{{ key|safe }}</h3>
                {% for valueKey, valueValue in value.items %}
                    <li class="menu-item{% if forloop.last %} menu-item-last{% endif %}"><a href="/hms/{{ valueValue }}"
                                                                                            id="{{ valueValue }}"
                                                                                            class="menu-link{% if MODEL == valueValue %} active-trail active{% endif %}"
                                                                                            title="{{ valueKey|safe }}">{{ valueKey|safe }}</a>
                        {% if MODEL == "hydrology" and valueValue == "hydrology/" %}
                            <ul class="menu">
                                <li class="menu-item"><a href="/hms/{{ MODEL }}/evapotranspiration/"
                                                         title="{{ valueKey|safe }}"
                                                         class="menu-link{% if SUBMODEL == "evapotranspiration" %} active-trail active{% endif %}">Evapotranspiration</a>
                                </li>
                                <li class="menu-item"><a href="/hms/{{ MODEL }}/precipitation/"
                                                         title="{{ valueKey|safe }}"
                                                         class="menu-link{% if SUBMODEL == "precipitation" %} active-trail active{% endif %}">Precipitation</a>
                                </li>
                                <li class="menu-item"><a href="/hms/{{ MODEL }}/soilmoisture/"
                                                         title="{{ valueKey|safe }}"
                                                         class="menu-link{% if SUBMODEL == "soilmoisture" %} active-trail active{% endif %}">Soil
                                    Moisture</a></li>
                                <li class="menu-item"><a href="/hms/{{ MODEL }}/subsurfaceflow/"
                                                         title="{{ valueKey|safe }}"
                                                         class="menu-link{% if SUBMODEL == "subsurfaceflow" %} active-trail active{% endif %}">Subsurface
                                    Flow</a></li>
                                <li class="menu-item"><a href="/hms/{{ MODEL }}/surfacerunoff/"
                                                         title="{{ valueKey|safe }}"
                                                         class="menu-link{% if SUBMODEL == "surfacerunoff" %} active-trail active{% endif %}">Surface
                                    Runoff</a></li>
                                <li class="menu-item"><a href="/hms/{{ MODEL }}/temperature/"
                                                         title="{{ valueKey|safe }}"
                                                         class="menu-link{% if SUBMODEL == "temperature" %} active-trail active{% endif %}">Temperature</a>
                                </li>
                            </ul>
                        {% elif MODEL == "meteorology" and valueValue == "meteorology/" %}
                            <ul class="menu">
                                <li class="menu-item"><a href="/hms/{{ MODEL }}/solarcalculator/"
                                                         title="{{ valueKey|safe }}"
                                                         class="menu-link{% if SUBMODEL == "solarcalculator" %} active-trail active{% endif %}">Solar
                                    Calculator</a></li>
                            </ul>
                        {% elif MODEL == "water_quality" and valueValue == "water_quality/" %}
                            <ul class=" menu">
                                <li class="menu-item"><a href="/hms/{{ MODEL }}/photolysis/" title="{{ valueKey|safe }}"
                                                         class="menu-link{% if SUBMODEL == "photolysis" %} active-trail active{% endif %}">Photolysis</a>
                                </li>
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
</div>
<!--end 03ubertext_links_left_drupal-->