<script>
    var body_width;
    $(document).ready(function () {
        closeNav();
        document.getElementById("cnav").style.display = 'block';
        body_width = document.getElementById("main-column").offsetWidth;
    });

    function openNav() {
        document.getElementById("nOpen").style.display = 'none';
        document.getElementById("cnav").style.borderRightStyle = "solid";
        document.getElementById("cnav").style.borderRightWidth = "1px";
        document.getElementById("cnav").style.width = "200px";
        document.getElementById("cnav").style.zIndex = "10";
        body_width = document.getElementById("main-column").offsetWidth;
        var body_nav_width = body_width - 150;
        setTimeout(function(){ document.getElementById("main-column").style.width = body_nav_width + "px"; }, 50);
    }

    function closeNav() {
        document.getElementById("cnav").style.width = "0";
        document.getElementById("nOpen").style.display = 'block';
        document.getElementById("cnav").style.borderRightStyle = "none";
        document.getElementById("nOpen").style.zIndex = '10';
        setTimeout(function(){ document.getElementById("main-column").style.width = body_width + "px"; }, 50);
    }

</script>

<style>

    .sidenav {
        width: 200px;
        position: absolute;
        z-index: 10 !important;
        overflow-x: hidden;
        transition: 0.4s !important;
        background-color: white;
        border-right-style: solid;
        border-right-width: 1px;
        white-space: nowrap;
        z-index: 1001 !important;
    }

    .sidenav a {
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    .sidenav a:hover, .offcanvas a:focus {
        color: #f1f1f1;
    }

    .sidenav .closebtn {
        position: absolute;
        top: -5px;
        left: 85%;
        font-size: 25px;
        text-decoration:none;
        z-index:1001;
    }

    @media screen and (max-height: 450px) {
        .sidenav {
            padding-top: 15px;
        }
    }

    .side-nav-div div * {
        position: relative;
        z-index: 10;
    }

    #nOpen {
        position: absolute;
        margin: 0 0 0 1px;
{#        padding: 10px 0px 0px 10px;#}
    }

    #navSpan {
        font-size:30px;
        cursor:pointer
    }

    #cnav {
        display: none;
    }

</style>

<!-- start 03hms_collapsible_links_left -->
<div class="region-sidebar-first region-sidebar side-nav-div">
    <div id="nOpen">
        <span id="navSpan" onclick="openNav()" title="Open Menu">&#9776;</span>
    </div>
    <div id="cnav" class="sidenav">
    <div id="block-og-menu-og-single-menu-block" class="block block-og-menu">
        <h2 class="element-invisible">HMS {{ MODEL }}</h2>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()" title="Close Menu">&times;</a>
        <ul class="menu">
            {% for key, value in LINK_DICT.items %}
                <h3 class="headerbar">{{ key|safe }}</h3>
                {% for valueKey, valueValue in value.items %}
                    <li class="menu-item{% if forloop.last %} menu-item-last{% endif %}"><a href="/hms/{{ valueValue }}"
                                                                                            id="{{ valueValue }}"
                                                                                            class="menu-link{% if MODEL == valueValue %} active-trail active{% endif %}"
                                                                                            title="{{ valueKey|safe }}">{{ valueKey|safe }}</a>
                        {% if MODEL == "hydrology" and valueValue == "hydrology/" %}
                            <ul class="menu">
                                <li class="menu-item"><a href="/hms/{{ MODEL }}/evapotranspiration/"
                                                         title="{{ valueKey|safe }}"
                                                         class="menu-link{% if SUBMODEL == "evapotranspiration" %} active-trail active{% endif %}">Evapotranspiration</a>
                                </li>
                                <li class="menu-item"><a href="/hms/{{ MODEL }}/precipitation/"
                                                         title="{{ valueKey|safe }}"
                                                         class="menu-link{% if SUBMODEL == "precipitation" %} active-trail active{% endif %}">Precipitation</a>
                                </li>
                                <li class="menu-item"><a href="/hms/{{ MODEL }}/soilmoisture/"
                                                         title="{{ valueKey|safe }}"
                                                         class="menu-link{% if SUBMODEL == "soilmoisture" %} active-trail active{% endif %}">Soil
                                    Moisture</a></li>
                                <li class="menu-item"><a href="/hms/{{ MODEL }}/subsurfaceflow/"
                                                         title="{{ valueKey|safe }}"
                                                         class="menu-link{% if SUBMODEL == "subsurfaceflow" %} active-trail active{% endif %}">Subsurface
                                    Flow</a></li>
                                <li class="menu-item"><a href="/hms/{{ MODEL }}/surfacerunoff/"
                                                         title="{{ valueKey|safe }}"
                                                         class="menu-link{% if SUBMODEL == "surfacerunoff" %} active-trail active{% endif %}">Surface
                                    Runoff</a></li>
                                <li class="menu-item"><a href="/hms/{{ MODEL }}/temperature/" title="{{ valueKey|safe }}"
                                                         class="menu-link{% if SUBMODEL == "temperature" %} active-trail active{% endif %}">Temperature</a>
                                </li>
                            </ul>
                        {% if MODEL == "hydrodynamic" and valueValue == "hydrodynamic/" %}
                            <ul class="menu">
                                <li class="menu-item"><a href="/hms/{{ MODEL }}/constantvolume/"
                                                         title="{{ valueKey|safe }}"
                                                         class="menu-link{% if SUBMODEL == "constantvolume" %} active-trail active{% endif %}">Constant Volume</a>
                                </li>
                                <li class="menu-item"><a href="/hms/{{ MODEL }}/changingvolume/"
                                                         title="{{ valueKey|safe }}"
                                                         class="menu-link{% if SUBMODEL == "changingvolume" %} active-trail active{% endif %}">Changing Volume</a>
                                </li>
                                <li class="menu-item"><a href="/hms/{{ MODEL }}/kinematicwave/"
                                                         title="{{ valueKey|safe }}"
                                                         class="menu-link{% if SUBMODEL == "kinematicwave" %} active-trail active{% endif %}">Kinematic
                                    Wave</a></li>
                            </ul>
                        {% elif MODEL == "water_quality" %}
                            <ul class="menu">
                                <li class="menu-item">
                                    <a href="/hms/{{ MODEL }}/photolysis/"
                                       title="{{ valueKey|safe }}"
                                       class="menu-link{% if SUBMODEL == "photolysis" %} active-trail active{% endif %}">Photolysis</a>
                                </li>
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            {% endfor %}</ul>
    </div>
</div>
<!-- end 03hms_collapsible_links_left -->