<!--start 04hms_input_start-->
<script type="text/javascript" src="/static_qed/js/jquery.blockUI.js"></script>
<script src="/static_qed/hms/js/scripts_input.js"></script>

  <div class="main-column clearfix">
    <h1 class="page-title">{{ TITLE }}</h1>
    <div class="panel-pane pane-node-content" >
      <div class="pane-content">
          {% if ERROR != "" %}
              <div>
                  <p>{{ ERROR }}</p>
              </div>
          {% endif %}
{#        <div class="node node-page clearfix view-mode-full">#}
          <div class="model_inputs">
          {% if SUBMODEL == NULL %}
              <form method="post" action="/hms/{{ MODEL }}/output" name="input_table">
          {% else %}
            <form method="post" action="/hms/{{ MODEL }}/{{ SUBMODEL }}/output" name="input_table">
          {% endif %}
              <table class="nostripe input_table">
              <thead>
                <tr><th scope="col">Input</th><th scope="col">Value</th></tr>
              </thead>
<!--end 04hms_input_start-->