{
  "swagger": "2.0",
  "info": {
    "title": "Human Well-Being Index (HWBI) ReSTful API Documentation",
    "description": "Welcome to the U.S. Environmental Protection Agency's (USEPA) Human Well-Being Index (HWBI) interactive RESTful API documentation.\n\nThe HWBI was generated by researchers at the USEPA using over one hundred nationally-available data layers to assess economic, social, and ecosystem services and calculate human well-being across the entire U.S. at the regional, state, and county levels for years 2000-2010. This API provides values for 22 economic, ecosystem, and social services, 8 domains of well-being, and a total HWBI score for each county in the U.S.\n",
    "version": "1.0.0"
  },
  "schemes": [
    "https",
    "http"
  ],
  "host": "qedinternal.epa.gov",
  "basePath": "/hwbi/rest",
  "consumes": [
    "application/json",
    "text/html"
  ],
  "produces": [
    "application/json",
    "application/x-www-form-urlencoded"
  ],
  "tags": [
    {
      "name": "locations",
      "description": ""
    },
    {
      "name": "calc",
      "description": ""
    }
  ],
  "paths": {
    "/locations":  {
      "post": {
        "tags": [
          "locations"
        ],
        "summary": "Retrieve information for HWBI locations endpoint.",
        "description": "The /locations endpoint retrieves meta data and relative links.",
        "responses": {
          "200": {
            "description": "Successful return"
          },
          "default": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/locations/inputs":  {
      "post": {
        "tags": [
          "locations"
        ],
        "summary": "Retrieve input information for HWBI locations endpoint.",
        "description": "The /locations/inputs endpoint retrieves meta data about inputs for /locations/run endpoint.",
        "responses": {
          "200": {
            "description": "Successful return"
          },
          "default": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/locations/outputs":  {
      "post": {
        "tags": [
        "locations"
      ],
      "summary": "Retrieve input information for HWBI locations endpoint.",
      "description": "The /locations/outputs endpoint retrieves meta data about outputs for /locations/run endpoint.",
      "responses": {
        "200": {
          "description": "Successful return"
        },
        "default": {
          "description": "Unexpected error"
        }
      }
    }
  },
    "/locations/run": {
      "post": {
        "tags": [
          "locations"
        ],
        "summary": "Retrieve HWBI scores for counties in the conterminous U.S.",
        "description": "The /locations endpoint uses state and county name to provide values for 22 economic, ecosystem, and social services, 8 domains of well-being, and a total HWBI score for the county.",
        "parameters": [
          {
            "in": "body",
            "name": "location",
            "description": "United States of America state and county name",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Location"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful return"
          },
          "default": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/calc/run": {
      "post": {
        "tags": [
          "calc"
        ],
        "summary": "Calculate HWBI score based on estimated economic, social, and ecosystem service scores.",
        "description": "The /calc endpoint uses 22 user-supplied economic, ecosystem, and social services values to calculate eight domains of well-being (Connection to Nature, Cultural Fulfillment, Education, Health, Leisure Time, Living Standards, Safety & Security, and Social Cohesion). These domains of well-being are then weighed based on 8 user-supplied “relative importance values” and are used to determine the overall HWBI score.",
        "parameters": [
          {
            "in": "body",
            "name": "input scores",
            "description": "HWBI service scores and relative important weights",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Input"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful return"
          },
          "default": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/calc":  {
      "post": {
        "tags": [
          "calc"
        ],
        "summary": "Retrieve information for HWBI calc endpoint.",
        "description": "The /calc endpoint retrieves meta data and relative links.",
        "responses": {
          "200": {
            "description": "Successful return"
          },
          "default": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/calc/inputs":  {
      "post": {
        "tags": [
          "calc"
        ],
        "summary": "Retrieve input information for HWBI locations endpoint.",
        "description": "The /calc/inputs endpoint retrieves meta data about inputs for /calc/run endpoint.",
        "responses": {
          "200": {
            "description": "Successful return"
          },
          "default": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/calc/outputs":  {
      "post": {
        "tags": [
        "calc"
      ],
      "summary": "Retrieve input information for HWBI locations endpoint.",
      "description": "The /calc/outputs endpoint retrieves meta data about outputs for /calc/run endpoint.",
      "responses": {
        "200": {
          "description": "Successful return"
        },
        "default": {
          "description": "Unexpected error"
        }
      }
    }
  },
  },
  "definitions": {
    "Location": {
      "type": "object",
      "required": [
        "state",
        "county"
      ],
      "properties": {
        "state": {
          "type": "string",
          "example": "Georgia"
        },
        "county": {
          "type": "string",
          "example": "Clarke"
        }
      }
    },
    "Input": {
      "type": "object",
      "properties": {
        "scores": {
          "type": "object",
          "description": "22 service scores",
          "$ref": "#/definitions/scores"
        },
        "domainWeights": {
          "type": "object",
          "description": "8 domain weights",
          "$ref": "#/definitions/domainWeights"
        }
      }
    },
    "scores": {
      "type": "object",
      "required": [
        "capitalInvestment",
        "consumption",
        "employment",
        "finance",
        "innovation",
        "production",
        "redistribution",
        "airQuality",
        "foodFiberAndFuel",
        "greenspace",
        "waterQuality",
        "waterQuantity",
        "activism",
        "communication",
        "communityAndFaith",
        "education",
        "emergencyPreparedness",
        "familyServices",
        "healthcare",
        "justice",
        "labor",
        "publicWorks"
      ],
      "properties": {
        "capitalInvestment": {
          "type": "number",
          "example": 58.58767309
        },
        "consumption": {
          "type": "number",
          "example": 51.30107144
        },
        "employment": {
          "type": "number",
          "example": 61.42698061
        },
        "finance": {
          "type": "number",
          "example": 48.04367489
        },
        "innovation": {
          "type": "number",
          "example": 40.78933818
        },
        "production": {
          "type": "number",
          "example": 51.37376206
        },
        "redistribution": {
          "type": "number",
          "example": 44.91955411
        },
        "airQuality": {
          "type": "number",
          "example": 39.74227925
        },
        "foodFiberAndFuel": {
          "type": "number",
          "example": 38.67637493
        },
        "greenspace": {
          "type": "number",
          "example": 43.49136823
        },
        "waterQuality": {
          "type": "number",
          "example": 47.98169343
        },
        "waterQuantity": {
          "type": "number",
          "example": 50.1499327
        },
        "activism": {
          "type": "number",
          "example": 58.94920977
        },
        "communication": {
          "type": "number",
          "example": 45.05882805
        },
        "communityAndFaith": {
          "type": "number",
          "example": 21.70335728
        },
        "education": {
          "type": "number",
          "example": 43.91138195
        },
        "emergencyPreparedness": {
          "type": "number",
          "example": 31.60009102
        },
        "familyServices": {
          "type": "number",
          "example": 48.56670661
        },
        "healthcare": {
          "type": "number",
          "example": 47.59926392
        },
        "justice": {
          "type": "number",
          "example": 39.76702077
        },
        "labor": {
          "type": "number",
          "example": 45.34910097
        },
        "publicWorks": {
          "type": "number",
          "example": 46.79912673
        }
      }
    },
    "domainWeights": {
      "type": "object",
      "required": [
        "connectionToNature",
        "culturalFulfillment",
        "education",
        "health",
        "leisureTime",
        "livingStandards",
        "safetyAndSecurity",
        "socialCohesion"
      ],
      "properties": {
        "connectionToNature": {
          "type": "number",
          "example": 1
        },
        "culturalFulfillment": {
          "type": "number",
          "example": 1
        },
        "education": {
          "type": "number",
          "example": 1
        },
        "health": {
          "type": "number",
          "example": 1
        },
        "leisureTime": {
          "type": "number",
          "example": 1
        },
        "livingStandards": {
          "type": "number",
          "example": 1
        },
        "safetyAndSecurity": {
          "type": "number",
          "example": 1
        },
        "socialCohesion": {
          "type": "number",
          "example": 1
        }
      }
    }
  }
}