{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title %}Human Exposure Model{% endblock %}</title>
    <link rel="shortcut icon" href="https://www.epa.gov/sites/all/themes/epa/favicon.ico" type="image/vnd.microsoft.icon" />
    <!-- Bootstrap
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css"> -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link href="{%  static 'hem/css/bootstrap_overrides.css' %}" rel="stylesheet">
    {% block stylesheet %}{% endblock %}
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins)-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>

<body class="development">
<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" target="_blank" href="http://epa.gov">EPA </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="index">home</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container">
   <style>#forkongithub a{background:#205493;color:#fff;text-decoration:none;font-family:arial,sans-serif;text-align:center;font-weight:bold;padding:5px 40px;font-size:1rem;line-height:2rem;position:relative;transition:0.5s;}#forkongithub a:hover{background:#0071bc;color:#fff;}#forkongithub a::before,#forkongithub a::after{content:"";width:100%;display:block;position:absolute;top:1px;left:0;height:1px;background:#fff;}#forkongithub a::after{bottom:1px;top:auto;}@media screen and (min-width:800px){#forkongithub{position:fixed;display:block;top:0;right:0;width:200px;overflow:hidden;height:200px;z-index:0;}#forkongithub a{width:200px;position:absolute;top:60px;right:-60px;transform:rotate(45deg);-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);box-shadow:4px 4px 10px rgba(0,0,0,0.8);}}</style><span id="forkongithub"><a href="https://github.com/USEPA/HEM">Fork me on GitHub</a></span>
    {% block content %}
        <h1>this is popgen</h1>
    {% endblock %}

    <div class="row">
        <div class="col-md-12">
            <hr>
            <h4>Disclaimer of Endorsement</h4>
            <p>
                Reference herein to any specific commercial products, process, or service by trade name, trademark,
                manufacturer, or otherwise, does not necessarily constitute or imply its endorsement, recommendation, or
                favoring by the United States Government. The views and opinions of authors expressed herein do not
                necessarily state or reflect those of the United States Government, and shall not be used for advertising
                or product endorsement purposes.
            </p>
            <h4>Disclaimer of Liability</h4>
            <p>
                With respect to documents available from this server, neither the United States Government nor any of their
                employees, makes any warranty, express or implied, including the warranties of merchantability and fitness
                for a particular purpose, or assumes any legal liability or responsibility for the accuracy, completeness,
                or usefulness of any information, apparatus, product, or process disclosed, or represents that its use would
                not infringe privately owned rights.
            </p>
        </div>
    </div>

</div>




<footer class="footer">
    <div class="container">

    </div>

</footer>
<!-- load all javascript libraries last -->

<!-- Include all compiled plugins (below), or include individual files as needed
<!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
{% block javascript %}{% endblock %}
</body>
</html>