{% extends "hem_base.html" %}

{% block title %}Population Generation{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <form class="form-horizontal" method="post">{% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="save btn btn-default">Save</button>

            </form>

        </div>  <!-- col-md-4 div -->
        <div class="col-md-5">

        </div>
        <div class="col-md-3 text-center">
            <a href="results" class="btn btn-primary btn-lg active">Run model</a>
            <br>
            <br>
            <hr>
            <h3>Input Summary</h3>
            <p class="text-left">Products: </p>
            <p class="text-left">Population: </p>
            <hr>
            <h3>Estimated Run Time</h3>
            <p>0 minutes</p>
            <p>
                <small>How do we calculate this?</small>
            </p>


        </div>  <!-- col-md-4 div -->
    </div>  <!-- row div -->

{% endblock %}
