{% extends "hem_base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}HEMISPHERE Home{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-5">
            <form method="POST" class="post-form">
                <div class="row pc option_chem" id="chemicalH2">
                    <h2>Choose Chemicals</h2>
                </div>
                <div class="row pc option_prod" id="productH2" style="display:none;">
                    <h2>Choose Products</h2>
                </div>
                <div class="radio">
                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="option_chem" value="0" checked="checked">
                        Chemicals
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="option_prod" value="1">
                        Products
                    </label>
                </div>
                <hr>
                <div class="form-group pc option_prod"  style="display:none;">
                    <label class="control-label">Product</label>
                    {{ form.product |add_class:"form-control" }}
                </div>
                <div class="form-group pc option_chem">
                    <label class="control-label">Chemical</label>
                    {{ form.chemical |add_class:"form-control"}}
                </div>
                <div class="form-group">
                    <label class="control-label">Gender</label>
                    {{ form.gender|add_class:"form-control" }}
                </div>
                <div class="form-group">
                    <label class="control-label">Minimum Age</label>
                    {{ form.min_age }}
                </div>
                <div class="form-group">
                    <label class="control-label">Maximum Age</label>
                    {{ form.max_age }}
                </div>

                <button type="submit" class="save btn btn-primary">Submit</button>
                {% csrf_token %}
            </form>
        </div>
        <div class="col-md-2">

        </div>
        <div class="col-md-5">
            <h3>Documentation</h3>
                <a href="{% static 'hem/files/UserGuide_S2D.docx' %}">
                    <span class="glyphicon glyphicon-book" aria-hidden="true"></span> HEM User Guide</a><br>
            <hr>
            <p>
                The Human Exposure Model (HEM) is being developed to assess near-field exposures to chemicals that occur
                in various populations over the life cycle of a consumer product. The model produces estimates of
                population distributions of chemical exposure by route, and releases to the environment, for over 300
                categories of consumer products over one year. To see aggregate exposure to a chemical from the use of
                all consumer product categories within the scope of HEM, select 'Chemicals.' To see exposure to all
                chemicals in a particular product category, from the use of that product category, select 'Products.'
            </p>
        </div>
    </div>  <!-- row div -->

{% endblock %}


{% block javascript %}
    <script src="{% static 'js/popgen.js' %} "></script>
{% endblock %}
